/* ------ testimonial section -------- */
.section_testimonial {
  padding: 50px 20px;
  .testimonial-rating {
    font-size: var(--fs-24);
    color: var(--primary-color);
  }

  .testimonial-card {
    width: 100%;
    max-width: 520px;
    background: var(--white-color);
    color: #000;
    border-radius: var(--rounded-10);
    padding: 20px;
    border: 1px solid #fcddec;
  }

  .testimonial-container {
    width: 90%;
    position: relative;
    padding: 0 0 40px 0;
    margin: auto;
  }

  
  .testimonial-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }

  .testimonial-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  } 
  .custom-arrow {
    position: absolute;
    top: -50px;
    z-index: 1000;
    transform: translateY(-50%);
    font-size: var(--fs-24);
    color: var(--blue-color);
    background: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &:hover {
      background: var(--primary-color);
      color: var(--white-color);
    }
  }

  .slick-prev.custom-arrow {
    left: calc(100% - 100px);
  }

  .slick-next.custom-arrow {
    right: 0;
  }

  .slick-slide{
    float: right !important;
  }
  .slick-dots {
    bottom: -50px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}

/* ------- step section ------ */
.section_step {
  background: var(--primary-color);

  & .steps-container {
    padding: 50px 20px;
    row-gap: 40px;
  }

  .red {
    background-color: #eb5757;
  }
  .green {
    background-color: #27ae60;
  }
  .orange {
    background-color: #f2994a;
  }
  .gray {
    background-color: #828282;
  }

  .icon-container {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    flex: none;
  }

  .step {
    display: flex;
    align-items: center; 
    gap: 10px;
  }

  .para-3 {
    color: var(--text-dark-1);
    margin: 0;
  }

}
/* ------- faq section ------- */

.faq-container {
  padding: 45px 0;

  & .faq-accordion {
    max-width: 1272px;
    margin: 40px auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .faq-item {
    position: relative;
    border-width: 1px, 1px, 0px, 1px;
    border-style: solid;
    border-color: #00000020;
    box-shadow: 0px 0px 5.22px 0.78px #00000024;

    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 100%;
      background: linear-gradient(180deg, #ffa229 0%, #1c4670 84.9%);
    }
  }
}

/* --- footer ---- */
.section_footer {
  background: var(--blue-bg);

  & .row {
    row-gap: 30px;
  }

  & h6 {
    font-family: var(--font-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-700);
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--primary-color);

    margin-bottom: 24px;
  }

  & .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 24px;

    & i {
      color: var(--white-color);
    }
  }

  ul li {
    margin-bottom: 12px;

    a {
      color: var(--white-color);
    }
  }
}
