/* --- footer ---- */
.section_footer {
  background: var(--blue-bg);

  & .row {
    row-gap: 30px;
  }
  & h6 {
    font-family: var(--font-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-700);
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--primary-color);

    margin-bottom: 24px;
  }

  & .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 24px;

    & i {
      color: var(--white-color);
    }
  }

  ul li {
    margin-bottom: 12px;
    a {
      color: var(--white-color);
    }
  }
}
