* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --blue-color: #1c4670;
  --blue-bg: #011b5b;
  --blue-color-1: #001038;
  --text-color: #272d37;
  --text-color-light: #666666;
  --white-color: #fff;
  --text-light: #aab5cd;
  --text-dark-1: #3c2109;
  --text-dark-2: #1a1a1a;
  --text-dark-3: #282828;
  --text-dark-4: #4F4F4F;
  --text-light-1: #d9d9d9;
  --text-light-2: #667085;
  --text-light-3: #0d1216;
  --text-light-4: #fafafa;
  --text-light-5: #282728;
  --text-light-6: #e5e2df;
  --black: #000;
  --text-dark: #181617;
  --brown-color: #bb162b;
  --brown-color-1: #f60014;
  --primary-color: #ffa229;
  --green-color: #a5c937;
  --gradient-color: linear-gradient(96.22deg, #ffa229 9%, #1c4670 59.37%);
  --gradient-color-3: linear-gradient(180deg, #ffa229 0%, #1c4670 78.12%);
  --gradient-color-2: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    #d0d0d0 50%,
    rgba(0, 0, 0, 0) 100%
  );
  --gradient-border: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    #d0d0d0 50%,
    rgba(0, 0, 0, 0) 100%
  );

  /* Font weight */
  --fw-800: 800;
  --fw-700: 700;
  --fw-500: 500;
  --fw-600: 600;
  --fw-400: 400;
  --fw-300: 300;

  /* Font family */
  --font-primary: "Inter", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Lato: "Lato", sans-serif;

  /* font size */
  --fs-10: 10px;
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-48: 48px;

  /* --- radius --- */
  --rounded-10: 10px;
}

/* ---- common css ----- */
a {
  text-decoration: none !important;
  color: var(--text-light);
}

.text-blue {
  color: var(--blue-color);
}

.bg-gradient-1 {
  background: var(--gradient-color) !important;
}

.light-text {
  color: var(--text-light) !important;
}

.text-dark {
  color: var(--text-dark) !important;
}

.bg-blue {
  background-color: var(--blue-color);
}

.gap-16 {
  gap: 16px;
}

.section-space {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container-fluid {
  max-width: 1440px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.para-1 {
  font-family: var(--font-primary);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.para-2 {
  font-family: var(--font-primary);
  font-size: var(--fs-16);
  font-weight: var(--fw-500);
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.para-5 {
  font-family: var(--font-primary);
  font-size: var(--fs-17);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.para-4 {
  font-family: var(--font-primary);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.para-3 {
  font-family: var(--font-primary);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  line-height: 1.5;
}

.head-1 {
  font-family: var(--font-primary);
  font-size: var(--fs-48);
  font-weight: var(--fw-500);
  line-height: 1.3;
  letter-spacing: -1.5px;
}
.head-2 {
  font-family: var(--font-primary);
  font-size: var(--fs-22);
  font-weight: var(--fw-700);
  line-height: 1.2;
}

.head-4 {
  font-family: var(--font-primary);
  font-size: var(--fs-20);
  font-weight: var(--fw-800);
  line-height: 1.1;
}

.head-5 {
  font-family: var(--font-primary);
  font-size: var(--fs-22);
  font-weight: var(--fw-700);
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.circle-btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.circle-btn {
  font-size: var(--fs-24);
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  flex: none;
}

.btn-green {
  width: 150px;
  height: 58px;
  border-radius: 4px;
  font-family: var(--font-Poppins);
  padding: 12px 12px;
  box-shadow: 0px 10px 10px 0px #1fb65f0a;

  border: 1px solid var(--green-color);
  color: var(--black);
  background-color: var(--white-color);

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;

  transition: all 0.3s linear;

  & i {
    font-size: 32px;
    color: var(--green-color);
  }

  & span {
    display: block;
  }

  & span:first-of-type {
    font-size: var(--fs-11);
    font-weight: var(--fw-400);
    line-height: 1.8;
    text-align: left;
  }

  & span:last-of-type {
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    line-height: 1.5;
    text-align: left;
  }

  &:hover {
    background-color: var(--green-color);
    color: var(--white-color);

    & i {
      font-size: 32px;
      color: var(--white-color);
    }
  }
}

.line {
  width: 40px;
  height: 1px;
  background-color: var(--brown-color-1);
  margin: 20px 0 25px 0;
}

/* ----- header  section 1 ----- */
header {
  .header_top_bar {
    background-color: var(--blue-color);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;

    > span {
      font-family: var(--font-primary);
      font-size: var(--fs-14);
      font-weight: var(--fw-400);
      line-height: 1.2;
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 16px;
      cursor: pointer;

      & img {
        max-width: 18px;
      }

      &:nth-child(2) {
        padding: 0 16px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          height: 100%;
          width: 1px;
          background: var(--gradient-border);
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 1px;
          background: var(--gradient-border);
        }
      }
    }
  }

  .header-section {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
  }

  .logo {
    max-height: 50px;
  }

  .navbar-nav .nav-link {
    color: #333;
    margin-right: 1rem;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-link {
      margin-bottom: 0.5rem;
    }
  }
}

.section_trusted_by {
  & h2 {
    margin-bottom: 40px;
  }
}

/* --- accordion ---- */
.faq-item {
  border-radius: 10px;
  color: #3b3b3b;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.faq-item:hover {
  transform: scale(1.02);
}

.faq-question {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-arrow {
  font-size: 16px;
  color: #3b3b3b;
}

.faq-answer {
  background: #fff;
  color: #3b3b3b;
  padding: 15px 20px;
  font-size: 14px;
  text-align: left;
}

.faq-show-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.faq-show-more:hover {
  background-color: #00509e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .faq-container {
    padding: 10px;
  }

  .faq-title {
    font-size: 20px;
  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 12px;
  }

  .head-5 {
    font-size: var(--fs-18);
  }

  .circle-btn {
    width: 40px;
    height: 40px;
    font-size: var(--fs-16);
  }
}

/* -------- why choose section --------- */

.why_choose_section {
  .why-choose-section {
    padding: 40px 20px;
    text-align: center;
  }

  .section-title {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0;
  }

  .section-description {
    color: #666;
    font-size: 16px;
    margin-bottom: 40px;
  }

  /* Feature Card */
  .feature-card {
    display: flex;
    justify-content: center;
  }

  .feature-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .feature-box:hover {
    transform: translateY(-5px);
  }

  /* Icon Container */
  .icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    font-size: 24px;
    color: #fff;
  }

  /* Icon Background Colors */
  .orange {
    background-color: #f39c12;
  }

  .green {
    background-color: #27ae60;
  }

  .blue {
    background-color: #3498db;
  }

  .red {
    background-color: #e74c3c;
  }

  /* Feature Title & Text */
  .feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .feature-text {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .section-title {
      font-size: 24px;
    }

    .feature-box {
      padding: 15px;
    }

    .icon-container {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  }
}

/* -------------- ui component  ------- */
.blogCard {
  border-radius: 0;
  border: none;
  transition: transform 0.3s;
  font-family: var(--font-primary);

  .imgBox {
    width: 100%;
    overflow: hidden;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 32px 0 20px 0;

    .author-text {
      font-size: var(--fs-14);
      font-weight: var(--fw-600);
      line-height: 1.3;
      text-align: left;
      color: var(--text-light-2);
      padding-bottom: 12px;
      display: block;
    }

    h5 {
      color: var(--text-dark-2);
    }

    .ext-link {
      transform: rotate(-45deg);
      color: var(--text-dark-2);
    }

    .para-4 {
      margin: 12px 0 24px 0;
      color: var(--text-light-2);
    }

    .badges {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .badge {
      font-size: var(--fs-14);
      font-weight: var(--fw-500);
      line-height: 1.3;
      text-align: center;
      padding: 2px 10px 2px 10px;
      gap: 0px;
      border-radius: 16px;
    }

    .badge-purple {
      background-color: #f9f5ff;
      color: #6941c6;
    }

    .badge-blue {
      background-color: #eef4ff;
      color: #3538cd;
    }

    .badge-green {
      background-color: #ecfdf3;
      color: #027a48;
    }

    .badge-red {
      background-color: #fdf2fa;
      color: #c11574;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .vertical-buttons {
    flex-direction: row;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
  }
}

/* ----------- media query ---------- */

@media (max-width: 991px) {
  .para-1 {
    font-size: var(--fs-14);
  }
}

@media (max-width: 768px) {
  .btn-green {
    height: 45px;

    & i {
      font-size: 24px;
    }

    & span:last-of-type {
      font-size: var(--fs-12);
      line-height: 1.3;
    }
  }
}

@media (max-width: 576px) {
  header {
    .header_top_bar {
      padding: 8px;
      justify-content: end;
      gap: 12px;

      span {
        font-family: var(--font-primary);
        font-size: var(--fs-12);
        justify-content: start;
        gap: 8px;

        & img {
          max-width: 16px;
        }

        &:nth-child(2) {
          padding: 0 10px;
        }
      }
    }
    .logo {
      max-height: 40px;
    }
  }
}

/* -------- bootstrap classes ---------- */
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0) !important;
}

/* ---------- slider css ---------- */
.slick-dots li {
  margin: 0 3px !important;
}

.slick-dots li button:before {
  font-size: var(--fs-10) !important;
  color: var(--text-light-1) !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: var(--primary-color) !important;
}
